<ion-header no-border class="common_header">
  <ion-toolbar no-border class="home_toolbar">
    <ion-buttons color="light" slot="start">
      <ion-menu-button color="light" mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title text-left>Social Media</ion-title>
    <ion-buttons slot="primary" (click)="search()">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="home_toolbar">
    <!-- <ion-segment scrollable mode="md" value="activesegement" (ionChange)="segmentChanged(activesegement)"> -->
    <ion-segment mode="md" [(ngModel)]="category1"  (ionChange)="segmentChanged($event)" value="instagram">
      <ion-segment-button class="segment_button" value="instagram">
        <p>Instagram</p>
      </ion-segment-button>
      <ion-segment-button class="segment_button" value="youtube">
        <p>Youtube</p>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <div [ngSwitch]="category1">
          <div>
            <ion-list *ngSwitchCase="'instagram'">
              <ion-row>
                <ion-col size="12" no-padding  class="shoe-box">
                  <!-- <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script> -->
                  <!-- <iframe src="https://lightwidget.com/widgets/40ea4149ce325da7b584f588e06f152e.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe> -->
                    <!-- LightWidget WIDGET  --> <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="https://dev.hawkscode.com.au/sneaker/assets/Instagram/instafeed.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;height:100vh"></iframe>
                </ion-col>
              </ion-row>
            </ion-list>
            <ion-list *ngSwitchCase="'youtube'">
              <ion-row>
                <ion-col size="12" no-padding  class="shoe-box">
                  <iframe src="https://dev.hawkscode.com.au/sneaker/assets/youtube/youtubefeed.html" style="border:none;overflow:hidden" scrolling="no" frameborder="0" style="width:100%;border:0;height:100vh"allowTransparency="true" allow="encrypted-media"></iframe>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>